<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.red.min.css">
    {% block stylesheets %}
    {% endblock %}
    <script type="importmap">
        {
            "imports": {
                "alpinejs": "/esm/alpine.js",
                "spa": "/esm/spa.js",
                "svgfix": "/esm/polyfill-svg.js"
            }
        }
    </script>

    <title>{% block title %}Hello world!{% endblock %}</title>
</head>

<body>
    {% block body %}
    <main class="container">
        <h1>Hello world!</h1>
    </main>
    {% endblock %}
    {% block ecmascript %}
    {% endblock %}
    <script type="module">
        import Alpine from 'alpinejs'
        Alpine.start()
    </script>
</body>

</html>