{% extends "base.html" %}

{% block title %}Darwin Go{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="simulator" x-data="spa('http://127.0.0.1:3000/sse')">
        <div id="result">
           <ul>
                <template x-for="(pop, cost) in populationGraph">
                    <li x-text="cost"></li>
                </template>
            </ul>
        </div>
        <form x-on:submit.prevent="run">
            <fieldset>
                <label>Pool Size</label>
                <input type="number" x-model="poolSize" />
                <label>Epoch</label>
                <input type="number" x-model="epoch" />
                <label>Max Rounds</label>
                <input type="number" x-model="maxRound" />
                <input type="submit" value="Run" />
            </fieldset>
        </form>
    </div>
</main>
{% endblock %}

{% block stylesheets %}
<style>
    .simulator {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1em;
    }
    svg {
        width: 100%;
    }
</style>
{% endblock %}

{% block ecmascript %}
<script type="module">
    import Alpine from 'alpinejs'

    Alpine.data('spa', (host) => ({
        poolSize: 1000,
        maxRound: 10,
        epoch: 10,
        socket: null,
        populationGraph: {},

        run() {
            if (typeof(EventSource) === "undefined") {
                throw new Error("Sorry, your browser does not support server-sent events...")
            }

            let url = new URL(host)
            url.searchParams.append('poolSize', this.poolSize)
            url.searchParams.append('maxRound', this.maxRound)
            url.searchParams.append('epoch', this.epoch)

            // close previous socket, because this stop the server from running
            if (this.socket !== null) {
                this.socket.close()
            }
            // open a new one
            this.socket = new EventSource(url)
            this.socket.onmessage = (event) => {
                if (event.data=='Done') {
                    this.socket.close()
                } else {
                    this.populationGraph = JSON.parse(event.data)
                    console.log(this.populationGraph)
                }
            }
        },

        getBoundingBox() {
            let minX = Infinity
            let minY = Infinity
            let maxX = -Infinity
            let maxY = -Infinity
            for(let [cost,pop] of Object.entries(this.populationGraph)) {
                cost = parseInt(cost, 10)
                if (pop > maxY) {
                    maxY = pop
                }
                if (cost > maxX) {
                    maxX = cost
                }
                if (pop < minY) {
                    minY = pop
                }
                if (cost < minX) {
                    minX = cost
                }
            }
            const width = maxX - minX
            const height = maxY - minY

            return `${minX} ${minY} ${width} ${height}`
        }
    }))
</script>
{% endblock %}