{% extends "base.html" %}

{% block title %}Darwin Go{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="simulator" x-data="spa('http://127.0.0.1:3000/sse')">
        <div id="result">
            <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="400" viewBox="0 0 1200 400">
                <g>
                    <text x="50" y="50" x-text="epoch"></text>
                    <template x-for="(info, cost) in statByCost" :key="cost">
                        <line x-bind:x1="cost*1200/maxes.cost" x-bind:x2="cost*1200/maxes.cost" y1="400" x-bind:y2="400*(1-info.GroupCount/maxes.count)" style="stroke: blue; stroke-width:10px"></line>
                    </template>
                </g>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="400" viewBox="0 0 1200 400">
                <g>
                    <template x-for="(info, cost) in statByCost" :key="cost">
                        <line x-bind:x1="cost*1200/maxes.cost" x-bind:x2="cost*1200/maxes.cost" y1="400" x-bind:y2="400*(1-info.AvgVictory/maxes.victory)" style="stroke: green; stroke-width:10px"></line>
                    </template>
                </g>
            </svg>
        </div>
        <form x-on:submit.prevent="run">
            <fieldset>
                <label>Pool Size</label>
                <input type="number" x-model="poolSize" />
                <label>Epoch</label>
                <input type="number" x-model="epoch" />
                <label>Max Rounds</label>
                <input type="number" x-model="maxRound" />
                <input type="submit" value="Run" />
            </fieldset>
        </form>
    </div>
</main>
{% endblock %}

{% block stylesheets %}
<style>
    .simulator {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1em;
    }

    svg {
        width: 100%;
        margin-bottom: 1em;
    }
</style>
{% endblock %}

{% block ecmascript %}
<script type="module">
    import Alpine from 'alpinejs'
    import simulation from 'spa'
    import 'svgfix'

    Alpine.data('spa', simulation)
</script>
{% endblock %}