{% extends "base.html" %}

{% block title %}Darwin Go{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="simulator" x-data="spa('http://127.0.0.1:3000/sse')">
        <div id="result">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 200" preserveAspectRatio="none">
                <g fill="none">
                    <template x-for="(pop, cost) in popByCost" :key="cost">
                        <line x-bind:x1="cost" x-bind:x2="cost" y1="200" x-bind:y2="200-pop" stroke="red" stroke-width="1px"></line>
                    </template>
                </g>
            </svg>
        </div>
        <form x-on:submit.prevent="run">
            <fieldset>
                <label>Pool Size</label>
                <input type="number" x-model="poolSize" />
                <label>Epoch</label>
                <input type="number" x-model="epoch" />
                <label>Max Rounds</label>
                <input type="number" x-model="maxRound" />
                <input type="submit" value="Run" />
            </fieldset>
        </form>
    </div>
</main>
{% endblock %}

{% block stylesheets %}
<style>
    .simulator {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1em;
    }

    svg {
        width: 100%;
        height: 300px;
    }
</style>
{% endblock %}

{% block ecmascript %}
<script type="module">
    import Alpine from 'alpinejs'
    import simulation from 'spa'
    import 'svgfix'

    Alpine.data('spa', simulation)
</script>
{% endblock %}